/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 11, ../scss/_before.scss */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
/* line 25, ../scss/_before.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 34, ../scss/_before.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
/* line 49, ../scss/_before.scss */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 62, ../scss/_before.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 72, ../scss/_before.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
/* line 80, ../scss/_before.scss */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* line 3, ../scss/_base.scss */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
}

/* line 10, ../scss/_base.scss */
.container {
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

/* line 17, ../scss/_base.scss */
.container2 {
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
}

/* line 23, ../scss/_base.scss */
.clearfix {
  display: table;
  content: " ";
  clear: both;
}

/* line 29, ../scss/_base.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

@font-face {
  font-family: "luculent";
  src: url(../fonts/luculent.ttf);
}
@font-face {
  font-family: "luculent-bolditalic";
  src: url(../fonts/luculentbi.ttf);
}
@font-face {
  font-family: "luculent-italic";
  src: url(../fonts/luculenti.ttf);
}
@font-face {
  font-family: "apercupro";
  src: url(../fonts/apercu_regular_pro.otf);
}
/* line 59, ../scss/_base.scss */
.kern {
  letter-spacing: -1px;
}

/* line 63, ../scss/_base.scss */
.kern2 {
  letter-spacing: 2px;
}

/* line 67, ../scss/_base.scss */
.kern3 {
  letter-spacing: 2px;
}

/* line 71, ../scss/_base.scss */
.kern4 {
  letter-spacing: -1px;
}

/* line 75, ../scss/_base.scss */
.kern5 {
  letter-spacing: 2px;
}

/* line 79, ../scss/_base.scss */
.kern6 {
  letter-spacing: -6px;
}

/* line 83, ../scss/_base.scss */
.kern7 {
  letter-spacing: 1px;
}

/* line 91, ../scss/_base.scss */
a:link {
  text-decoration: none;
  color: white;
}

/* line 97, ../scss/_base.scss */
a:visited {
  color: white;
}

/* line 102, ../scss/_base.scss */
a:hover {
  text-decoration: none;
  color: #a543ff;
}

/* line 108, ../scss/_base.scss */
a:active {
  text-decoration: none;
  color: black;
}

/* line 115, ../scss/_base.scss */
main .design a:link section {
  background-color: rgba(255, 196, 255, 0.1);
  border-color: #1e1e1e;
}

/* line 121, ../scss/_base.scss */
main .design a:visited section {
  background-color: rgba(255, 196, 255, 0.1);
}

/* line 128, ../scss/_base.scss */
main .design a:hover section {
  background-color: transparent;
}

/* line 134, ../scss/_base.scss */
main .design a:active section {
  background-color: #a543ff;
}

/* line 141, ../scss/_base.scss */
main .design a:link section p {
  color: rgba(255, 196, 255, 0.7);
  background-color: rgba(30, 30, 30, 0.9);
}

/* line 147, ../scss/_base.scss */
main .design a:visited section p {
  color: rgba(255, 196, 255, 0.7);
}

/* line 154, ../scss/_base.scss */
main .design a:hover section p {
  color: #a543ff;
  border-color: #a543ff;
}

/* line 161, ../scss/_base.scss */
main .design a:active section p {
  color: #a543ff;
}

/* line 170, ../scss/_base.scss */
main .code a:link section {
  background-color: rgba(143, 255, 161, 0.05);
  border-color: rgba(143, 255, 161, 0.7);
}

/* line 176, ../scss/_base.scss */
main .code a:visited section {
  background-color: rgba(143, 255, 161, 0.1);
}

/* line 183, ../scss/_base.scss */
main .code a:hover section {
  background-color: transparent;
}

/* line 189, ../scss/_base.scss */
main .code a:active section {
  background-color: #a543ff;
}

/* line 196, ../scss/_base.scss */
main .code a:link section p {
  color: rgba(143, 255, 161, 0.7);
  background-color: #1e1e1e;
  border-color: #8fffa1;
}
/* line 201, ../scss/_base.scss */
main .code a:link section p i {
  display: none;
}

/* line 207, ../scss/_base.scss */
main .code a:visited section p {
  color: rgba(143, 255, 161, 0.7);
  border-color: rgba(143, 255, 161, 0.7);
}

/* line 215, ../scss/_base.scss */
main .code a:hover section p {
  color: #a543ff;
  border-color: #a543ff;
}
/* line 220, ../scss/_base.scss */
main .code a:hover section p i {
  display: inline;
}

/* line 226, ../scss/_base.scss */
main .code a:active section p {
  color: #a543ff;
}

/* line 233, ../scss/_base.scss */
body {
  background-color: #242424;
}

/* line 236, ../scss/_base.scss */
.top {
  margin-left: 20px;
}

/* line 240, ../scss/_base.scss */
.head {
  height: 100px;
  padding-top: 80px;
  display: flex;
  align-items: row;
  justify-content: flex-start;
  position: fixed;
  margin-top: -250px;
  background-color: #242424;
  width: 100%;
  margin-left: -20px;
}

/* line 254, ../scss/_base.scss */
a.anchor {
  display: block;
  position: relative;
  top: -130px;
  visibility: hidden;
}

/* line 261, ../scss/_base.scss */
header {
  font-family: "luculent-bolditalic";
  font-size: 36px;
  word-spacing: -12px;
  float: left;
  color: white;
  margin-right: 50px;
  padding-left: 40px;
}

/* line 274, ../scss/_base.scss */
nav {
  font-family: "luculent";
  font-size: 12px;
  margin-top: 30px;
  max-width: 100%;
  padding-left: 20px;
}
/* line 285, ../scss/_base.scss */
nav ul li {
  display: inline;
  margin-right: 62px;
  font-size: 14px;
}
/* line 290, ../scss/_base.scss */
nav ul li img {
  height: 12px;
  width: 12px;
}

/* line 300, ../scss/_base.scss */
.stick {
  text-align: right;
  height: 20%;
  margin-left: 30px;
  padding-bottom: 20px;
  width: 40px;
  margin-top: 30px;
}
/* line 310, ../scss/_base.scss */
.stick ul {
  position: fixed;
  margin-top: 30px;
  min-width: 15%;
}
/* line 316, ../scss/_base.scss */
.stick ul li {
  margin-bottom: 10px;
  display: block;
}
/* line 323, ../scss/_base.scss */
.stick ul li img {
  width: 13px;
  height: 13px;
  margin-left: 7px;
}
/* line 329, ../scss/_base.scss */
.stick ul li a:link {
  color: rgba(255, 255, 255, 0);
}
/* line 334, ../scss/_base.scss */
.stick ul li a:visited {
  color: white;
}
/* line 338, ../scss/_base.scss */
.stick ul li a:hover {
  color: white;
}
/* line 342, ../scss/_base.scss */
.stick ul li a:active {
  color: white;
}

/* line 353, ../scss/_base.scss */
h2 {
  font-family: "luculent-italic";
  font-size: 26px;
  color: white;
  padding-left: 35px;
  padding-top: 10px;
}

/* line 362, ../scss/_base.scss */
.design section {
  background-color: rgba(255, 196, 255, 0.5);
}

/* line 366, ../scss/_base.scss */
.design h2 {
  color: #ffc4ff;
}

/* line 370, ../scss/_base.scss */
.code h2 {
  color: #8fffa1;
}

/* line 374, ../scss/_base.scss */
.resume h2 {
  color: #228aff;
}

/* line 378, ../scss/_base.scss */
.contact h2 {
  color: yellow;
}

/* line 382, ../scss/_base.scss */
p {
  font-family: "apercupro";
  font-size: 10px;
}

/* line 398, ../scss/_base.scss */
.intro {
  height: 400px;
  margin-top: 190px;
  max-width: 100vw;
}
/* line 404, ../scss/_base.scss */
.intro p {
  color: white;
  font-size: 32px;
  line-height: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

/* line 418, ../scss/_base.scss */
main {
  display: flex;
  flex-direction: column;
}

/* line 422, ../scss/_base.scss */
main section {
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 25px;
  margin-top: 25px;
  max-width: 100vw;
  display: flex;
  align-items: center;
}

/* line 437, ../scss/_base.scss */
main div {
  margin-top: 100px;
}

/* line 441, ../scss/_base.scss */
main section img {
  margin-left: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
  vertical-align: middle;
  max-width: 80%;
}

/* line 449, ../scss/_base.scss */
main section p {
  display: inline;
  vertical-align: 50%;
  border: 1px solid #ffc4ff;
  padding: 5px;
  max-width: 100%;
  margin-right: 20px;
  font-size: 14px;
  margin-left: 20px;
  color: white;
}

/* line 466, ../scss/_base.scss */
main div a:link {
  color: yellow;
}
/* line 471, ../scss/_base.scss */
main div main a:visited {
  color: yellow;
}
/* line 476, ../scss/_base.scss */
main div main a:hover {
  color: yellow;
}
/* line 481, ../scss/_base.scss */
main div main a:active {
  color: yellow;
}

/* line 488, ../scss/_base.scss */
.contact {
  max-width: 100vw;
  margin-bottom: 40px;
  padding-left: 40px;
  padding-right: 10px;
  color: white;
}
/* line 495, ../scss/_base.scss */
.contact h2 {
  margin-bottom: 30px;
  padding-left: 0px;
}
/* line 500, ../scss/_base.scss */
.contact p {
  font-size: 25px;
}

/* line 512, ../scss/_base.scss */
.gallery .advimage {
  max-width: 500px;
}
/* line 517, ../scss/_base.scss */
.gallery div {
  margin-top: 50px;
}
/* line 521, ../scss/_base.scss */
.gallery div.single {
  max-width: 375px;
}
/* line 525, ../scss/_base.scss */
.gallery .image {
  display: inline;
  margin-top: 100px;
  margin-right: 20px;
}
/* line 532, ../scss/_base.scss */
.gallery section img {
  vertical-align: middle;
  max-width: 100%;
  margin-left: 0px;
}
/* line 538, ../scss/_base.scss */
.gallery section {
  background-color: rgba(255, 255, 255, 0);
  align-items: flex-start;
}
/* line 547, ../scss/_base.scss */
.gallery section p {
  border: none;
  margin-bottom: 10px;
  color: white;
  vertical-align: top;
  padding: 5px;
  margin-right: 0px;
  font-size: 13px;
}
/* line 559, ../scss/_base.scss */
.gallery .back {
  font-family: "luculent";
  font-size: 50px;
}
/* line 568, ../scss/_base.scss */
.gallery .description {
  position: fixed;
  border: none;
  max-width: 350px;
  left: 800px;
  padding: 20px;
  line-height: 24px;
  text-align: right;
  margin-top: 100px;
}
/* line 578, ../scss/_base.scss */
.gallery .description h2 {
  font-family: "luculent";
  margin-bottom: 15px;
}
/* line 593, ../scss/_base.scss */
.gallery header {
  display: flex;
  flex-direction: rows;
  margin-bottom: 30px;
  position: fixed;
  background-color: #242424;
  width: 100%;
  font-size: 22px;
  letter-spacing: 5px;
  padding-top: 25px;
  padding-bottom: 10px;
}
/* line 610, ../scss/_base.scss */
.gallery header a {
  padding-right: 90px;
}
/* line 617, ../scss/_base.scss */
.gallery main {
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (max-width: 910px) {
  /* line 633, ../scss/_base.scss */
  .stick {
    display: none;
  }

  /* line 637, ../scss/_base.scss */
  main section img {
    margin-left: 0px;
  }

  /* line 641, ../scss/_base.scss */
  .head {
    display: block;
    margin-top: -270px;
  }

  /* line 646, ../scss/_base.scss */
  nav {
    float: left;
    padding-left: 40px;
    background-color: #242424;
    margin-top: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100vw;
  }
  /* line 655, ../scss/_base.scss */
  nav a {
    font-size: 18px;
  }

  /* line 660, ../scss/_base.scss */
  .top {
    margin-left: 20px;
  }

  /* line 667, ../scss/_base.scss */
  .intro {
    width: 100%;
    margin-top: 200px;
  }

  /* line 675, ../scss/_base.scss */
  main section {
    display: flex;
    flex-direction: column;
  }

  /* line 680, ../scss/_base.scss */
  main section p {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    text-align: center;
    font-size: 20px;
  }

  /* line 691, ../scss/_base.scss */
  main section a {
    text-align: center;
  }

  /* line 697, ../scss/_base.scss */
  main section img {
    margin-bottom: 0px;
  }

  /* line 708, ../scss/_base.scss */
  .gallery .container2 {
    padding-left: 0px;
  }
  /* line 716, ../scss/_base.scss */
  .gallery section {
    align-items: center;
  }
  /* line 722, ../scss/_base.scss */
  .gallery main {
    display: flex;
    flex-direction: column-reverse;
    vertical-align: 50%;
  }
  /* line 730, ../scss/_base.scss */
  .gallery h2 {
    padding-left: 0px;
  }
  /* line 734, ../scss/_base.scss */
  .gallery .description {
    float: none;
    position: inherit;
    max-width: 80%;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
  }
  /* line 742, ../scss/_base.scss */
  .gallery .description p {
    font-size: 20px;
    line-height: 30px;
  }
  /* line 750, ../scss/_base.scss */
  .gallery .image {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 0px;
  }
}
@media only screen and (max-width: 570px) {
  /* line 766, ../scss/_base.scss */
  .stick {
    display: none;
  }

  /* line 770, ../scss/_base.scss */
  main {
    margin-top: 50px;
  }

  /* line 774, ../scss/_base.scss */
  main section img {
    margin-left: 0px;
  }

  /* line 778, ../scss/_base.scss */
  header {
    float: none;
    text-align: center;
    padding-left: 0px;
    width: 100%;
    word-spacing: -5px;
  }
  /* line 786, ../scss/_base.scss */
  header h1 {
    margin-top: 30px;
    font-size: 34px;
  }

  /* line 791, ../scss/_base.scss */
  .intro p {
    font-size: 20px;
    margin-right: 20px;
  }

  /* line 797, ../scss/_base.scss */
  .intro {
    margin-top: 165px;
  }

  /* line 802, ../scss/_base.scss */
  nav {
    float: none;
    width: 100%;
    margin-top: -10px;
    padding-left: 15px;
    text-align: center;
  }

  /* line 812, ../scss/_base.scss */
  nav ul li {
    display: inline;
    font-size: 28px;
    margin-right: 5px;
    word-spacing: -8px;
    letter-spacing: -.6px;
  }
  /* line 819, ../scss/_base.scss */
  nav ul li a {
    font-size: 18px;
  }
  /* line 824, ../scss/_base.scss */
  nav ul li img {
    height: 6px;
    width: 6px;
  }

  /* line 831, ../scss/_base.scss */
  .head {
    margin-top: -265px;
  }

  /* line 836, ../scss/_base.scss */
  .contact p {
    font-size: 20px;
  }

  /* line 844, ../scss/_base.scss */
  .gallery .container2 {
    padding-left: 0px;
  }
  /* line 848, ../scss/_base.scss */
  .gallery .description {
    padding: 0px;
    max-width: 95%;
    margin-left: -5px;
    margin-right: auto;
  }
  /* line 857, ../scss/_base.scss */
  .gallery header {
    padding-top: 0px;
    margin-top: -60px;
  }
  /* line 866, ../scss/_base.scss */
  .gallery header h1 {
    word-spacing: -10px;
    font-size: 35px;
    text-align: left;
    width: 270px;
  }
  /* line 876, ../scss/_base.scss */
  .gallery .image {
    margin-top: -30px;
  }
  /* line 880, ../scss/_base.scss */
  .gallery header a {
    margin-left: 15px;
    margin-top: 25px;
    font-size: 10px;
    padding-right: 15px;
  }
  /* line 886, ../scss/_base.scss */
  .gallery .back {
    font-size: 40px;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
/* line 9, ../scss/_after.scss */
.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
/* line 18, ../scss/_after.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
/* line 35, ../scss/_after.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
/* line 49, ../scss/_after.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 65, ../scss/_after.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 71, ../scss/_after.scss */
.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  /* line 98, ../scss/_after.scss */
  *,
  *:before,
  *:after,
  *:first-letter,
  p:first-line,
  div:first-line,
  blockquote:first-line,
  li:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 113, ../scss/_after.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 118, ../scss/_after.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 122, ../scss/_after.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  /* line 131, ../scss/_after.scss */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  /* line 136, ../scss/_after.scss */
  pre {
    white-space: pre-wrap !important;
  }

  /* line 139, ../scss/_after.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  /* line 150, ../scss/_after.scss */
  thead {
    display: table-header-group;
  }

  /* line 154, ../scss/_after.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 159, ../scss/_after.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 166, ../scss/_after.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
