// global 
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
}

.container {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%
}

.container2 {
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
}

.clearfix {
    display: table;
    content: " ";
    clear: both;
}

.container:after {
    content: " ";
    display: block;
    clear: both;
}

@font-face {
    font-family: "nowalt";
    src: url(../fonts/NowAlt-Medium.otf);
}

@font-face {
    font-family: "grobe";
    src: url(../fonts/grobe-deutschmeister.ttf);
}

@font-face {
    font-family: "circular-bold";
    src: url(../fonts/circular-bold.otf);
}

@font-face {
    font-family: "bluunext";
    src: url(../fonts/bluunext-bold.ttf);
}

@font-face {
    font-family: "bluunext-bolditalic";
    src: url(../fonts/bluunext-bolditalic.ttf);
}


@font-face {
    font-family: "circular";
    src: url(../fonts/circular-book.otf);
}

// // kerning for header
// .kern {
// 	letter-spacing: -1px;
// }
// .kern2 {
// 	letter-spacing: 2px;
// }
// .kern3 {
// 	letter-spacing: 2px;
// }
// .kern4 {
// 	letter-spacing: -1px;
// }
// .kern5 {
// 	letter-spacing: 2px;
// }
// .kern6 {
// 	letter-spacing: -6px;
// }
// .kern7{
// 	letter-spacing: 1px;
// }
// links

a{
    color: black;
}

a:-webkit-any-link {
    color: black;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}


a:active {
    text-decoration: none;
    color: black;
}

header a:link {
    color: black;
}
header a:visited {
    color: black;
}

header a:hover {
    color: black;
    opacity: .6;

}

header a:active {
    color: black
}
nav a:link {
    text-decoration: none;
    color: rgba(36, 36, 36, 1);
}

nav a:visited {
    color: rgba(36, 36, 36, 1);
    opacity: .5;

}

nav a:hover {
    text-decoration: none;
    opacity: .5;
}

nav a:active {
    text-decoration: none;
    color: black;
}

main .design a:link section {
    background-color: rgba(255, 196, 255, .1);
    border-color: rgba(30, 30, 30, 1);
}

main .design a:visited section {
    background-color: rgba(255, 196, 255, .1);
}

main .design a:hover section {
    background-color: transparent;
}

main .design a:active section {
    background-color: rgba(165, 67, 255, 1)
}

main .design a:link section p {
    color: rgba(255, 196, 255, .7);
    // background-color: rgba(30,30,30,.9);
}

main .design a:visited section p {
    color: rgba(255, 196, 255, .7);
}

main .design a:hover section p {
    color: rgba(165, 67, 255, 1);
    border-color: rgba(165, 67, 255, 1);
}

main .design a:active section p {
    color: rgba(165, 67, 255, 1)
}

// code sections 
main .code a:link section {
    background-color: rgba(143, 255, 161, .05);
    border-color: rgba(143, 255, 161, .7);
}

main .code a:visited section {
    background-color: rgba(143, 255, 161, .1);
}

main .code a:hover section {
    background-color: transparent;
    // border: solid 1px rgba(165, 67, 255,1)
}

main .code a:active section {
    background-color: rgba(165, 67, 255, 1)
}

main .code a:link section p {
    color: rgba(143, 255, 161, .7);
    // background-color: rgba(30,30,30,1);;
    border-color: rgba(143, 255, 161, 1);
    i {
        display: none
    }
}

main .code a:visited section p {
    color: rgba(143, 255, 161, .7);
    border-color: rgba(143, 255, 161, .7);
}

main .code a:hover section p {
    color: rgba(165, 67, 255, 1);
    border-color: rgba(165, 67, 255, 1);
    i {
        display: inline;
    }
}

main .code a:active section p {
    color: rgba(165, 67, 255, 1)
}

// resume section
main .resume a:link section {
    background-color: rgba(34, 138, 255, .2);
    border-color: rgba(30, 30, 30, 1);
}

main .resume a:visited section {
    background-color: rgba(34, 138, 255, .4);
}

main .resume a:hover section {
    background-color: transparent;
}

main .resume a:active section {
    background-color: rgba(165, 67, 255, 1)
}

body {
	font-family: "circular";
    // background-color: rgba(36,36,36,1);

}

// a {
//             cursor: url('../img/black.png'), default !important;

// }

// a:active {
//                 cursor: url('../img/pink.png'), default !important;


// }

// .mousedown {
//             cursor: url('../img/pink.png'), default !important;


// }

// .mouseup {
//         cursor: url('../img/black.png'), default !important;

// }


.top {
	height: 650px;
}

.head {
    position: fixed;
    background-color: white;
    width: 100%;
    margin-left: 0px;
    z-index: 1000;
    margin-top: -400px;

}

#plus {
	color: black;
	font-size: 55px;
    cursor: pointer;
    padding: 0px 10px;
}

a.anchor {
    display: block;
    position: relative;
    top: -130px;
    visibility: hidden;
}

header {
font-family: "bluunext";
    font-size: 24px;
    color: white;
    // padding-left: 40px;
    min-width: 350px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 97vw;
        height: 60px;


}

h1{	margin-left: 3vw;
}

#contact {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 50px 0px;
    /* height: 100px; */
    background-color: #f5f6fc;
}

.contactinfo {
    font-family: "circular";
    font-size: 11px;
    letter-spacing: 1.3px;

    .fa {
        margin: 0px 7px;
    font-size: 13px;
}
}




nav {
    font-family: "bluunext";
    font-variant: italic;
    max-width: 100%;
    background-color: rgba(229, 231, 246, 0.38);
    text-align: center;
    padding: 10px 0px;

    ul {
    display: flex;
    justify-content: space-around;
    width: 60vw;
    /* text-align: center; */
    margin-left: auto;
    margin-right: auto;
    align-items: center;
        li {
            display: inline;
            font-size: 14px;
                color:white;

            img {
                height: 12px;
                width: 12px;
            }
        }
    }
}

li.maincontact {
    margin-right: 0px;
}



h2 {
    font-family: "bluunext";
    font-size: 26px;
    color: rgba(255, 255, 255, 1);
    padding-left: 35px;
    padding-top: 10px;
}

.design section {
    background-color: rgba(255, 196, 255, .5);
}

.design h2 {
    color: rgba(255, 196, 255, 1);
}

.code h2 {
    color: rgba(143, 255, 161, 1);
}

.resume h2 {
    color: rgba(34, 138, 255, 1);
}

main div.resume2 {
    margin-top: 0px;
    text-align: center;
}

img.resume2 {
    margin-top: 0px;
    max-height: 100vh;
    max-width: 100vw;
    vertical-align: middle;
}

.contact h2 {
    color: rgba(255, 255, 0, 1);
}

.contact {
    background-color: rgba(255, 255, 0, .1);
}

.contact:hover {
    background-color: white;
}

p {
    font-family: "circular";
    font-size: 10px;
}



#introright {

    bottom: 117px;
    position: relative;
    height: 294px;
    right: 22px;
    background-color: rgba(229, 231, 236, 0.38);
    float: right;
    width: 43vw;
    margin: 0px 50px 0px 0px;
    z-index: 3;

    p {
        padding: 10px;
    font-size: 12px;
    line-height: 20px;
    }


}

#skillz {
        top: 213px;
    position: relative;
    margin-right: 3vw;
    left: -500px;
    z-index: 1;

    p {
       text-transform: uppercase;
    letter-spacing: 1.6px;
    font-size: 8px;

}
}

#canvas-5 {
    top: 218px;
    position: relative;
    height: 375px;
    background-color: beige;
    /* float: right; */
    width: 44vw;
    margin: 0vw 3vw 0vw 0vw;
    z-index: 0;

}
#introleft {
    // height: 281px;
    top:0px;
    height: 700px;
    width: 100%;
    padding-top: 0px;
    // width: 50vw;
    background: url(../img/volcano-bg.jpg) no-repeat center center;
    background-size: cover;
    margin: 0vw;
    position: relative;
    float: left;
    z-index: 2;
        display: flex;
    // align-items: center;
    justify-content: center;
                                text-align: center;




    p {
        // color: rebeccapurple;
        font-size: 20px;
        // line-height: 50px;
        color: rgba(36, 36, 36, 1);
        padding: 30px 80px;

        // text-align: justify;
    }
    h4 {
        // 	    		   	color: rgba(165, 67, 255,1);
        // background-color: rgba(255,255,255,.5);
    /* font-style: italic; */
    font-family: "bluunext";

    text-align: center;
    padding: 0px 10px;
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 1px;
    color: rgba(255,255,255,1);

    }




}

    .handshake {
        font-size: 7vw;

        position: relative;
            top: 30%;


    }

#star {
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: static;
    img {
        width: 15vw;
        margin: 0px -12px;
    }
    #starleft {
        position: relative;
    }
    #starright {
        position: relative;
    }
}

#linedown {
	height: 100px;
	width: 2px;
	margin-left: auto;
	margin-right: auto;
}

.gradline {
display: block;
    width: 450px;
    height: 7px;
    padding: 0px 12px;
}

#projectsnav {
    display: flex;
    align-items: center;
    transform: rotate(-90deg) translate(30%, -500px);
    z-index: 200;
}

#resumenav {
    display: flex;
    align-items: center;
    transform: rotate(-90deg) translate(30%, -500px);
}

#project1 {

}

#project2 {
	
}


#project3 {
	
}

// .topbar {
//     width: 50vw;
// }

.projvisuals {
        padding: 7vw 5vw;
        width: 50vw;
        position: relative;
        text-align: center;
            display: flex;
    flex-direction: column;
    align-items: center;

    .topbar {
        z-index: 21;
    }

        img {
                    width: 50vw;
                    // position: relative;
                    text-align: center;
                    z-index: 20;

        }

    #proj1pic{
                -webkit-filter: drop-shadow(3px 3px 15px #3b0c36);

    }

    #proj2pic{
        -webkit-filter: drop-shadow(3px 3px 15px rgba(51, 58, 165,.6));

    }

}

#proj1vis {
        background-color: aliceblue;



}

#proj2vis {
    background-color: rgba(232,211,237,.32);
}

#proj3vis {

    background-color: rgba(176,226,192,.2);
        padding: 7vw 0vw;

    img{

        width: 27vw;
        -webkit-filter: drop-shadow(1px 1px 16px rgba(12,186,255,.6));
    }
}

.project {
margin: 100px 0px;
    a {
    display: flex;
    width: 93vw;
    margin-left: 5vw;
    margin-right: auto;
    justify-content: space-around;
    align-items: center;
    // background-color: aliceblue;
    // padding: 0vw 2vw;



    }



    a:hover {
        p{
            color: black;
        }



    }
}

.pinfo{     
        display: flex;
    flex-direction: column;
    width: 30vw;
    align-items: center;
    p{    padding: 4vw 0vw;
       text-transform: uppercase;
    letter-spacing: 1.6px;
    font-size: 8px;
}

.strokeme {
        -webkit-text-stroke: 1px black;

}




.ptitle{
       color: rgba(255, 255, 255, 1);
         width: 178px;



}

}


#p1title {
    font-family: 'grobe';
    text-align: right;
    float: right;
    /* margin-right: 1vw; */
    font-size: 51px;
    line-height: 50px;

}


#p2title {
        color: white;
    // -webkit-text-stroke: 1px black;
    padding-right: 27px;
    font-size: 45px;
    font-family: circular-bold;
    padding-right: 3vw;

    span {
            -webkit-text-stroke: 0px;
            font-size: 10px;
            color:black;


    }
}

#p3title {
    font-family: "nowalt";
    font-size: 75px;
    letter-spacing: -1.6px;
    img {
        width: 250px;
    }
}


#resume1 {
    background-color: lightblue;
}

.fixme {
	position: fixed;
}

#projectstext {
    width: 110px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;}
#resumetext {
    width: 110px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;}

.xout {
	transform: rotate(45deg);
}

//        span.b {
// background-color:rgba(255, 196, 255, 0.7);
// padding-left: 10px;
// padding-right: 10px;
//    }
//    span.c {
//     background-color: rgba(143, 255, 161, 0.6);
//     padding-left: 10px;
// padding-right: 10px;
//        }
//    span.d {
//     background-color: rgba(34, 138, 255, .7);
//     padding-left: 10px;
// padding-right: 10px;
//            }
//     span.e {
// background-color: rgba(255, 255, 0, .8);
// padding-left: 10px;
// padding-right: 10px;
//     }
// portfolio section 
main {
    display: flex;
    flex-direction: column;
    // margin-top: 170px;
    div.design {
        padding-top: 120px;
    }
}

main section {
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 25px;
    margin-top: 25px;
    max-width: 100vw;
    // height: 400px;
    display: flex;
    align-items: center;
}

main section a {}

main div {
    margin-top: 100px;
}

main section img {
    margin-left: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    vertical-align: middle;
    max-width: 80%;
}

main section p {
    display: inline;
    vertical-align: 50%;
    border: 1px solid #ffc4ff;
    padding: 5px;
    max-width: 100%;
    margin-right: 20px;
    font-size: 14px;
    margin-left: 20px;
    color: rgba(36, 36, 36, 1);
}

.little {
    font-size: 10px;
    text-align: center;
}

.contact {
    max-width: 100vw;
    margin-bottom: 40px;
    h2 {
        margin-bottom: 30px;
        padding-left: 0px;
    }
    p {
        font-size: 25px;
    }
    padding-left: 40px;
    padding-right: 10px;
    color: rgba(36, 36, 36, 1);
}

//gallery styles 

#backhome {
    transform: rotate(45deg);
        color: black;
    font-size: 55px;
    cursor: pointer;
    padding: 0px 10px;
}

#header2 {
        font-family: "bluunext";
    font-size: 24px;
    color: white;
    min-width: 350px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 97vw;
    height: 60px;
}

#extraz {
        display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    cursor: pointer;
    padding-left: 20px;


    a {
        margin-left: 0px;
    }
}

#extraz div {
    height: 22.1vw;
    width: 22.1vw;
    // border: solid 2px #f5f6fc;
}

#lacroix {
    background: url("../img/lilthings/lacroix/lacroix.jpg") no-repeat center -50px;
    background-size: 800px;
}
#lf {
    background: url("../img/lilthings/lf/lf2.jpg") no-repeat left top;
    background-size: 450px;
}

#misconduct {
    background: url("../img/lilthings/infographic-small.jpg") no-repeat left top;
    background-size: 500px;
}

#passion {
    background: url("../img/lilthings/passion-small.jpg") no-repeat left center;
    background-size: 650px;
}

.extrainfo {
    background-color: #f5f6fc;
    color: black;
    opacity: 0;
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h5{
        font-size: 20px;
    }
    p{
        padding: 5px 0px;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    font-size: 8px;
    }
}

// #header2 a{
//     display: flex;
//     align-items: center;
// }


// DISCO!!!!!!

.iphone {
    width: 20%;
    position: absolute;
}

.longscroll {
    width: 20%;
}

.scrollme {
    position: fixed;
    height: 300px;
    overflow: hidden;
}



// tablet styles 
@media only screen and (max-width: 930px) {
    main div.resume2 {
        margin-top: 0px;
    }
    .stick {
        display: none;
    }
    main section img {
        margin-left: 0px;
    }
    .head {
        display: block;
    }
    nav {
        padding-left: 40px;
        // background-color: rgba(36,36,36,1);
        padding-bottom: 10px;
        padding-top: 10px;
        width: 100vw;


        a {
            font-size: 18px;
        }
    }
    .intro {
        width: 100%;
        p {
            // line-height: 50px;
            padding-left: 20px;
            padding-right: 20px;
            margin-top: 37px;
            margin-bottom: 40px;
            padding-bottom: 40px;
            font-size: 25px;
        }
        // margin-bottom: 50px;
    }


    main section {
        display: flex;
        flex-direction: column;
    }
    main section p {
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
        border: none;
        text-align: center;
        font-size: 20px;
    }
    main section a {
        text-align: center;
    }
    main section img {
        margin-bottom: 0px;
        text-align: center;
    }
    //tablet for gallery 
    .gallery {
        .container2 {
            padding-left: 0px;
        }
        div {
            padding-right: 0px;
        }
        main {
            margin-top: 0px;
        }
        section {
            align-items: center;
            text-align: center;
            img {
                max-width: 100%
            }
        }
        main {
            display: flex;
            flex-direction: column-reverse;
            vertical-align: 50%;
            margin-top: 0px;
        }
        h2 {
            padding-left: 0px;
        }
        .description {
            float: none;
            position: inherit;
            max-width: 80%;
            text-align: center;
            margin-left: 0px;
            margin-right: 0px;
            padding-left: 50px;
            padding-right: 50px;
            p {
                font-size: 20px;
                line-height: 30px;
            }
        }
        section p {
            max-width: 80vw;
        }
        .image {
            margin-left: 5vw;
            margin-right: 5vw;
            margin-top: 0px;
        }
    }
}

//medium devices > mobile
@media only screen and (max-width: 770px) {

    #extraz{
        flex-wrap:wrap;
        justify-content:center;

    }
    #extraz div {
    width: 43vw;
    height: 43vw;

    }

    #extraz a {
    width: 43vw;
    height: 43vw;
    }

    #lacroix {
    background-size: 900px;
}
#lf {
    background-size: 556px;
}

#misconduct {
    background-size: 600px;
}

#passion {
    background-size: 650px;
}

    #projectsnav {
            transform: rotate(-90deg) translate(30%, -513px);
    }

    #resumenav {
            transform: rotate(-90deg) translate(30%, -513px);
    }

    #introleft h4 {
            -webkit-text-stroke-width: .7px;
    }



#project1 a {
    flex-direction: column;

    img {
        width: 70vw;
    }
}

#project2 a {
    flex-direction: column-reverse;
        img {
        width: 70vw;
    }
}

#project3 a {
    flex-direction: column;
        img {
        width: 50vw;
    }
}

.projvisuals {
    padding: 7vw 0vw;
    width: 100vw;
        margin: 20px 0px 60px 0px;

}
#projects {
    z-index: 100;
    position: relative;
    top: 50px;

}

.project a {
        width: 100vw;

}

.project {
    margin: 50px 0px;

    a {
            margin-left: 0vw;
            margin-right: 0vw;

    }
}

#p1title {
    float: none;
    text-align: center;
            -webkit-text-stroke: .7px black

}

.pinfo {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    .ptitle {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;

    }

    p {
            padding: 25px 0px;
    }
}

#p2title {
    font-size: 35px;
    padding-right: 0px;
        -webkit-text-stroke: .7px black

}

#p3title {
                // -webkit-text-stroke: .7px black

}





}


//mobile
@media only screen and (max-width: 580px) {

    #skillz p {
            text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 8px;
    text-align: center;
    }

    #p2title {
    font-size: 28px;
    padding-right: 0px;
        -webkit-text-stroke: .5px black

}

    #introleft h4 {
            -webkit-text-stroke-width: .5px;
    }

#projects {
    position: relative;
    top: 100px;
}

    main.resume2 {
        margin-top: 0px;
    }
    .stick {
        display: none;
    }
    main {
        margin-top: 200px;
    }
    main section img {
        margin-left: 0px;
    }
    // header {
    //     float: none;
    //     text-align: center;
    //     padding-left: 0px;
    //     width: 100%;
    //     word-spacing: -5px;
    //     // margin-top: 183px;
    //     // background-color: rgba(36,36,36,1);
    //     h1 {
    //         margin-top: 30px;
    //         font-size: 34px;
    //         padding-top: 10px;
    //     }
    // }
    .intro p {
        font-size: 18px;
        margin-top: -10px;
        // line-height: 40px;
        line-height: 35px;
        margin-bottom: 50px;
        padding: 20px 40px;
    }
    .intro {
        margin-top: 0px;
        padding-top: 123px;
        padding-bottom: 55px;
        max-width: 100vw;
    }


    .handshake {top: 130px;
        font-size: 9vw;
    }
    h2 {
        font-family: "bluunext";
    }
    nav {
        float: none;
        width: 100%;
        margin-top: -10px;
        padding-left: 15px;
        text-align: center;
    }
    nav {
        ul {
    width: 80vw;
    /* text-align: center; */
        li {
        display: inline;
        font-size: 28px;
        word-spacing: -8px;
        letter-spacing: -.6px;
        padding-left: 0px;
        a {
            font-size: 18px;
        }
        img {
            height: 6px;
            width: 6px;
            margin-right: 6px;
        }
    }
    }
}

#introleft {
    top:0px;
    float: none;
    width: 100%;
}

#canvas-5 {
    width: 100vw;
    float: none;
    margin:0px;
    top: 90px;
}

#introright {
    float: none;
    width: 83vw;
    bottom: 250px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    right: 0px;

    p {
        position: absolute;
    }

}

#skillz {
    top:80px;
}



// contact above the fold on front page
    .contact {
        p {
            font-size: 20px;
        }
    }
    //gallery mobile
    .gallery {
        i {
            margin-top: 42px;
            margin-left: 15px;
            padding-right: 10px;
            font-size: 42px;
        }
        .container2 {
            padding-left: 0px;
        }
        .description {
            padding: 0px;
            max-width: 95%;
            margin-left: auto;
            margin-right: auto;
        }
        // header {
        //     padding-top: 0px;
        //     margin-top: -30px;
        //     // position: fixed !important;
        //     a {
        //         padding-right: 0px;
        //     }
        // }
        // header h1 {
        //     word-spacing: -10px;
        //     font-size: 35px;
        //     text-align: left;
        //     // width: 270px;
        // }
        .image {
            margin-top: -30px;
        }
        .back {
            font-size: 40px;
        }
    }
}
